<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><!-- Thymeleaf为我们提供的Spring Security的标签支持 -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>音书</title>

    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"/>
    <!--    <link rel="stylesheet" href="css/theme3.css" class="blue">-->
</head>
<body class="layui-layout-body">
<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed" th:each="menuList:${menuList}">
                <a class="" href="javascript:;"><i class="layui-icon" th:utext="${menuList.icon}"></i><cite th:text="${menuList.name}"></cite></a>
                <dl class="layui-nav-child">
                    <dd th:each="menuChild:${menuList.children}">
                        <!--<a href="javascript:;" th:data="${menuChild.menuUrl}" th:text="${menuChild.name}"></a>-->
                        <a th:href="${menuChild.menuUrl}" target="content"><i class="layui-icon" th:utext="${menuChild.icon}"></i><cite th:text="${menuChild.name}"></cite></a>
                        <dl class="layui-nav-child" th:if="${not #lists.isEmpty(menuChild.children)}">
                            <dd th:each="threeChild:${menuChild.children}">
                                <a th:href="${threeChild.menuUrl}" target="content"><i class="layui-icon" th:utext="${threeChild.icon}"></i><cite th:text="${threeChild.name}"></cite></a>
                            </dd>
                        </dl>
                    </dd>
                </dl>
            </li>
        </ul>

    </div>
</div>

<script src="layui/layui.js"></script>
<script>
</script>
</body>
</html>